{% extends "Home.html" %}
{% block title %}Modifier votre mot de passe{% endblock %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Modifier votre mot de passe</h1>
        <p class="mb-4">Utilisez le formulaire ci-dessous pour modifier votre mot de passe</p>
        <div class="w-full max-w-md">
            <form method="post">
                {{ form.as_p }}
                <p><input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" value="Modifier mon mot de passe"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
