{% extends "Home.html" %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Réinitialisation du mot de passe</h1>
        <p class="mb-4">Utilisez le formulaire ci-dessous pour confirmer la réinitialisation du mot de passe.</p>
        {% if validlink %}
        <p class="mb-4">Svp, entrez votre nouveau mot de passe</p>
        <form method="post">
            {{ form.as_p }}
            <p><input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" value="Changer mon mot de passe"></p>
            {% csrf_token %}
        </form>
        {% else %}
        <p>
            Lien invalide, veuillez <a class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" href="{% url 'password-reset' %}">recommencer</a>.
        </p>
        {% endif %}
    </div>
{% endblock %}
